.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;

	text-align: left;
}

.menuItem {
	display: inline-block;
	margin: 10px 15px;
}

.menuItem a {
	text-decoration: none;
	color: #6c757d;
}

.menuContainer {
	border: 1px solid #cdcdcd;
	margin: 10px 0;	
	border-radius: 5px;
	background-color: #ededed;
}
